<h2>Carrito: {{ this.id }}</h2>
{{#each products}}
  <div class="products">
    <h3>Name: {{this.product.name}}</h3>
    <p>Description: {{this.product.description}}</p>
    <p>Price: ${{this.product.price}}</p>
    <p>Thumbnail: {{this.product.thumbnail}}</p>
    <p>Category: {{this.product.category}}</p>
    <p>Code: {{this.product.code}}</p>
    <p>Stock: {{this.product.stock}}</p>
    <p>Product ID: {{this.product._id}}</p>
    <p>Quantity: {{this.quantity}}</p>
    <p>Order ID: {{this._id}}</p>
  </div>
{{/each}}

<p><a href="/products/">Seguir comprando</a></p>
<p><a href="/api/cart/{{this.id}}/purchase">Procesar compra</a></p>

<style>
  .products {
    line-height: 0.5; 
  }
</style>