<html>
<h1>Bienvenido, {{ firstName }}!</h1>
    <p>Email: {{email}}</p>
    {{#isEqual rol 'admin'}}
    <p>Rol: Admin</p>
    {{else}}
    <p>Rol: User</p>
    {{/isEqual}}
    <p><a href="/carts/{{cartId}}">Carrito</a></p>
    <p id="cartIdElement" data-cartid="{{cartId}}">{{cartId}}</p> 
    <p><a href="/admin/users/">Configuración Avanzada</a></p>
    <button id="logout">Logout</button>

<head>
  <title>PRODUCTOS</title>
</head>
<body>
{{#if isValid}}
<div class="products">
{{#each docs}}
<h3>Name: {{this.name}}</h3>
<p>Description: {{this.description}}</p>
<p>Price: ${{this.price}}</p>
<p>Thumbnail: {{this.thumbnail}}</p>
<p>Category: {{this.category}}</p>
<p>Code: {{this.code}}</p>
<p>Stock: {{this.stock}}</p>
<p>Id: {{this._id}}</p> {{! recibo el id que genera mongo}}
<button onclick="addToCart(this, '{{this._id}}')">Agregar al Carrito</button>
<div id="successMessage_{{this._id}}" style="display: none;">
  Producto agregado! {{! msj para confirmar que se agregó el producto}}
</div>
{{/each}}
</div>
<br/>
<div>
    {{#if hasPrevPage}}
        <a href={{prevLink}}><< Anterior</a>
    {{/if}}
    &nbsp;
    {{this.page}}
    &nbsp;
     {{#if hasNextPage}}
        <a href={{this.nextLink}}>Siguiente >></a>
    {{/if}} 
</div>
{{else}}
<h1>No hay productos para mostrar</h1>
{{/if}}
{{#if errorMessage}}
  <p class="error">{{errorMessage}}</p>
{{/if}}

<style>
  .products {
    line-height: 0.5; /* Ajusta el valor según tus preferencias */
  }
</style>
</body>
</html>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/home.js"></script>
<script type="module" src="/js/login.js"></script>
<script src="/js/logout.js"></script>